<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="mainForm">
            <ui:remove>
            <p:autoComplete id="autoComplete" value="#{backingBean0.value}"
                    completeMethod="#{backingBean0.complete}"
                    converter="#{backingBean0.entity0Converter}">
            </p:autoComplete>
            </ui:remove>
            <p:autoComplete id="autoComplete" value="#{backingBean0.value}"
                    completeMethod="#{backingBean0.complete}">
            </p:autoComplete>
        </h:form>
    </h:body>
</html>

